:root {
    --primary: #021A84;
    --secondary: #FE4C4C;
    --text: #171717;
    --gray: #999999;
    --light-gray: #e5e5e5;
    --green-text: #156d33;
    --background: #f2f2f2;
    --blue-text: #021A84;
    --red-text: #E5532A;
    --green-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.60) 100%), #2ADA66;
    --blue-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.60) 100%), #021A84;
    --red-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.60) 100%), #E5532A;
}

html,
body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: var(--background);
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1160px;
    width: 100%;
    margin-inline: auto;
}
body::-webkit-scrollbar {
    display: none;
}
/* Button style */
.btn {
    height: 30px;
    min-width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 16px;
    color: inherit;
}

.btn--boder {
    border: 1px solid var(--primary);
    border-radius: 8px;
    color: var(--primary);
}

.btn--boder:hover {
    cursor: pointer;
    color: white;
    background-color: var(--primary);
}

.btn--solid {
    border: 1px solid var(--primary);
    border-radius: 8px;
    background-color: var(--primary);
    color: white;
}

.btn--solid:hover {
    background-color: white;
    color: var(--primary);
}

.btn-search {
    height: 53px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 16px;
    color: inherit;
}

.btn--solid__search {
    border: 1px solid var(--primary);
    border-radius: 8px;
    background-color: var(--primary);
    color: white;
    text-decoration: none;
}

.btn--solid__search:hover {
    background-color: white;
    color: var(--red-text);
}

/* End Button style */

.heading {
    color: var(--blue-text);
    font-size: 34px;
    font-weight: 700;
}

.btn-srollTop {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 40px;
    z-index:1010;
    bottom: 40px;
}
